@import url(https://fonts.googleapis.com/earlyaccess/cwtexyen.css);

body{
    width: 100%;
    background-color:rgb(247, 247, 247);
    font-size: 1.25em;
    font-family: 'cwTeXYen', sans-serif;
    color:rgb(80, 80, 80);
}

/*header*/
.header_img{
    width: 100%;
}
/*navi*/
.navi{
    width: 100%;
    height:60px ;
    background-color: rgb(247, 247, 247); 
    border-top: solid rgb(137,137,137) 1px;
    border-bottom: solid rgb(137,137,137) 1px;

}

.navi_content{
    margin-left: 18%;
    margin-right: 18%;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

a{  
    text-decoration-line: none;
    color:rgb(80, 80, 80);
}

.navi_link_animation::after{
    content: '';
    display: block;
    width: 0;
    height: 1px;
    background:rgb(80, 80, 80);
    transition: width .4s;
}

.navi_link_animation:hover::after{
    width: 100%;
}
/*article*/
.article_title{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.article_title_Main{
    margin-top: 50px;
    margin-bottom: 0px;
    font-size: 2.8em;
}

.article_title_Sub{
    margin-top: 0px;
    margin-bottom: 40px;
    font-size: 1em;
}

.center{
    display: flex;
    justify-content: center;
}

#logo{
    text-decoration-line: none;
    font-size: 1.5em;
    color: rgb(80, 80,80);
    margin: 30px 0px;
}

.logo_animation::after{
    content: '';
    display: block;
    width: 0;
    height: 1px;
    background:rgb(80, 80, 80);
    transition: width .4s;
}

.logo_animation:hover::after{
    width: 100%;
}



.logo-img{
    margin-top:30px; ;
}

img{
	width: auto;
	height: auto;
	max-width: 100%;
    max-height: 100%;	
}


.row1{
    display: flex;
    justify-content: center;
}
.logo1{
    width: 25%;
    display: flex;
    flex-direction: column;
    border: 1px;
    border-style: dashed;
    border-color: rgb(100, 100, 100);
}
.logo2{
    width: 25%;
    display: flex;
    flex-direction: column;
    border: 1px;
    border-style: dashed;
    border-color: rgb(100, 100, 100);
    margin-left: -1px;
}


.row2{
    display: flex;
    justify-content: center;
    margin-top:-1px; 
}
.logo3{
    width: 25%;
    display: flex;
    flex-direction: column;
    border: 1px;
    border-style: dashed;
    border-color: rgb(100, 100, 100);
}
.logo4{
    width: 25%;
    display: flex;
    flex-direction: column;
    border: 1px;
    border-style: dashed;
    border-color: rgb(100, 100, 100);
    margin-left: -1px;
}


.row3{
    display: flex;
    justify-content: center;
    margin-top:-1px; 
}
.logo5{
    width: 25%;
    display: flex;
    flex-direction: column;
    border: 1px;
    border-style: dashed;
    border-color: rgb(100, 100, 100);
}
.logo6{
    width: 25%;
    display: flex;
    flex-direction: column;
    border: 1px;
    border-style: dashed;
    border-color: rgb(100, 100, 100);
    margin-left: -1px;
}


.row4{
    display: flex;
    justify-content: center;
    margin-top:-1px; 
}
.logo7{
    width: 25%;
    display: flex;
    flex-direction: column;
    border: 1px;
    border-style: dashed;
    border-color: rgb(100, 100, 100);
}
.logo8{
    width: 25%;
    display: flex;
    flex-direction: column;
    border: 1px;
    border-style: dashed;
    border-color: rgb(100, 100, 100);
    margin-left: -1px;
}
.row5{
    display: flex;
    justify-content: center;
    margin-top:-1px; 
    margin-bottom: 100px;
}
.logo9{
    width: 50%;
    border: 1px;
    border-style: dashed;
    border-color: rgb(100, 100, 100);
    border-top: 0px;
}
.logo9-text
{
    line-height: 2em;
}
.footer{
    background-color:rgb(239, 239, 239);
    font-size: 0.75em;
    border-top: solid rgb(137,137,137) 1px;
    display: flex;
    justify-content: center;
    align-items: center;
}
