@import url(https://fonts.googleapis.com/earlyaccess/cwtexyen.css);

body{
    width: 100%;
    background-color: rgb(247, 247, 247);
    font-size: 1.25em;
    font-family: 'cwTeXYen', sans-serif;
    color: rgb(80, 80, 80)
}


.navi{
    width: 100%;
    height:60px ;
    background-color: rgb(247, 247, 247); 
    border-top: solid rgb(137,137,137) 1px;
    border-bottom: solid rgb(137,137,137) 1px;
  
}

.navi_content{
    margin-left: 18%;
    margin-right: 18%;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

a{  
    text-decoration-line: none;
    color:rgb(80, 80, 80);
}

.navi_link_animation::after{
    content: '';
    display: block;
    width: 0;
    height: 1px;
    background:rgb(80, 80, 80);
    transition: width .4s;
}

.navi_link_animation:hover::after{
    width: 100%;
}

.header-img{
    width: 100%;
}

.mainview{
    width:100%;
    margin-bottom: 30px;
}

.tri{
    display: flex;
    justify-content: flex-end;
    
}
.scrool{
    margin: 0px;
    line-height: 1.25em;
    margin-right: 10px;
}

.arrow-down {
    width: 0; 
    height: 0; 
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 20px solid;
    color:rgb(80, 80, 80);
    margin-bottom: 80px;
    margin-top: 1px;
    margin-right: 30px;
}

.article_content_celebrity{
    display: flex;
    height: 400px;
    justify-content: center;
    align-items: center;
    margin-bottom:70px; 
}

.celebrity_text{
    width: 30%;
}

.celebrity_vedio{
    width: 40%;
}

.titile{
    font-size: 2em;
    margin-top: 0px;
    font-weight: 1000;
    margin-bottom: 30px;
}
.textContent{
    font-size: 1.6empx;
    letter-spacing: 3px;
    line-height: 30px;
    margin: 0px;
}

.article_splitLine{
    width: 70%;
    height: 1px;
    margin-left: 15%;
    background-color:rgb(137,137,137);
}

.article_content_share{
    margin-top: 50px;
    display: flex;
    height: 600px;
    justify-content: center;
    align-items: center;
    margin-bottom:50px; 
}
.share_img{
    width: 40%;

}
 
.share_text{
    width: 30%;
}

.readmore_animation::after{
    content: '';
    display: block;
    width: 0;
    height: 1px;
    background:rgb(80, 80, 80);
    transition: width .4s;
}

.readmore_animation:hover::after{
    width: 100%;
}

.right{
    display: flex;
    justify-content: flex-end;
}

#readmore{
    color:rgb(80, 80, 80);
    text-decoration-line: none;
    
}

.article_content_traffic{
    display: flex;
    height: 400px;
    justify-content: center;
    align-items: center;
    margin-top:70px; 
    margin-bottom:100px; 
}

.traffic_text{
    width: 30%;
}

.traffic_vedio{
    width: 40%;
}

.video{
    display: flex;
    justify-content: left;
    align-items: center;
}

.footer{
    background-color:rgb(239, 239, 239);
    font-size: 0.75em;
    border-top: solid rgb(137,137,137) 1px;
    display: flex;
    justify-content: center;
    align-items: center;
}
